.adorno1 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.mainObjetivos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--color-secundario);
}
.mainObjetivos .row {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  min-height: 50vh;
  padding: 40px 0px;
}
.mainObjetivos .row img {
  width: auto;
}
.mainObjetivos .row .col {
  width: 310px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainObjetivos .row .col h3 {
  font-family: var(--font-alpha-title);
  font-size: 3rem;
  color: var(--color-alpha-tile);
  font-weight: bold;
  text-align: center;
}
.mainObjetivos .row .col p {
  text-align: center;
  font-family: var(--font-alpha-title);
  font-size: 1.5rem;
  color: var(--color-title);
}

@media (max-width: 1210px) {
  .mainObjetivos {
    justify-content: center;
    align-items: center;
  }
  .mainObjetivos .row {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .mainObjetivos .row img {
    width: 300px;
  }
  .mainObjetivos .row .col {
    width: 80%;
    gap: 15px;
  }
}
