.mainHome {
  min-height: 60vh;
}
.mainHome .principal {
  width: 100%;
  height: auto;
}
.mainHome .principal .tricentenario {
  width: 100%;
}
.alumnos {
  width: 100%;
}
.mainHome .row {
  width: 100%;
  min-height: 30vh;
  display: flex;
}
.mainHome .row .parte1 {
  background-color: var(--color-principal);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainHome .row .parte1 h3 {
  font-family: var(--font-alpha-parrafo);
  font-size: 9vh;
  font-weight: bold;
  color: #fff;
}
.mainHome .row .parte1 p {
  font-family: var(--font-alpha-title);
  font-size: 3vh;
  color: var(--color-alpha-tile);
}
.mainHome .row .parte2 {
  width: 50%;
}

@media (max-width: 1210px) {
  .mainHome .row {
    flex-direction: column;
  }
  .mainHome .row .parte1,
  .mainHome .row .parte2 {
    width: 100%;
  }
  .mainHome .row .parte1 {
    padding: 60px;
  }
}
