.containerChat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  min-height: 90vh;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
.containerChat_Users {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  width: 25%;
  flex-direction: column;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 90vh;
  padding: 0 10px;
  margin: 10px;
  border-radius: 10px;
}
.container_Chat_User_button {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
.container_Chat_User_button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.container_Chat_User_button ion-icon {
  font-size: 2em;
  color: #ccc;
}
.container_Chat_User_button_text {
  font-size: 1.4em;
  color: #ccc;
}
.containerChat_User_Container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 10px;
}
.containerChat_User_Container_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.containerChat_User_Container_titulo_p {
  font-size: 2.5em;
  color: white;
}
.containerChat_User_Container_title ion-icon {
  font-size: 1.5em;
  color: white;
}
.containerChat_User_Container_title ion-icon:hover {
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.containerChat_User_Container_buscador {
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.containerChat_User_Container_buscador_input {
  border-radius: 10px;
  background-color: transparent;
  height: 100%;
  width: 90%;
  padding: 5px;
  border: 0;
  color: white;
}
.containerChat_User_Container_buscador_input::placeholder {
  color: #ccc;
}
.containerChat_User_Container_buscador_input:focus,
.containerChat_User_Container_buscador_input:active {
  border: 0;
  background-color: transparent;
}
.containerChat_User_Container_buscador ion-icon {
  padding: 5px;
  width: 10%;
  font-size: 1.3em;
  color: #efefef;
  cursor: pointer;
}
.containerChat_User_Container_buscador ion-icon:hover {
  color: rgba(255, 255, 255, 0.3);
}
.containerChat_User_Container_Users {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.containerChat_User_Container_Users_user {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.containerChat_User_Container_Users_user:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.containerChat_User_Container_Users_user_img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 100px;
  position: relative;
}
.containerChat_User_Container_Users_user_img_img {
  width: 100%;
  height: 100%;
}

/* falta el active*/
.containerChat_User_Container_Users_user_img ion-icon {
  position: absolute;
}
.containerChat_User_Container_Users_user_text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}
.containerChat_User_Container_Users_user_text_name {
  font-size: 1.1em;
  font-weight: 500;
}
.containerChat_User_Container_Users_user_text_fecha {
  font-size: 0.8em;
  color: #3e3a3a;
}

.containerChat_Messages {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
  flex-direction: column;
  min-height: 90vh;
}
.containerChat_Messages_header {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.containerChat_Messages_header_content {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.containerChat_Messages_header_content_img {
  width: 50px;
  display: flex;
  border-radius: 50%;
}

.containerChat_Messages_header_user {
  padding: 0 10px;
}
.containerChat_Messages_header_user_name {
  font-size: 1.2em;
  font-weight: 500;
}
.containerChat_Messages_header_user_online {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
}

.containerChat_Messages_header ion-icon {
  font-size: 1.5em;
  padding: 0 30px;
  color: white;
  cursor: pointer;
}
.containerChat_Messages_header ion-icon:hover {
  color: rgba(255, 255, 255, 0.6);
}

.containerChat_Messages_body {
  min-height: 60vh;

  width: 95%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}
.containerChat_Messages_body_message {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  min-height: 110px;
}
#userImagePhoto {
  width: 50px;
  border-radius: 50%;
}
.containerChat_Messages_body_message_user {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.containerChat_Messages_body_message_user_text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;
  font-size: 1em;
  color: white;
  background-color: #3e3a3a;
  border-radius: 10px;
}
.containerChat_Messages_body_message_user_text_date {
  font-size: 0.8em;
  color: #ccc;
}

.containerChat_User_Container_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}
.containerChat_User_Container_footer ion-icon {
  font-size: 1.5em;
  padding: 5px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.containerChat_User_Container_footer ion-icon:hover {
  color: rgba(255, 255, 255, 0.5);
}
.containerChat_User_Container_footer_input {
  min-width: 80%;
  height: 35px;
  color: #272323;
  background-color: transparent;
  border: 0;
  font-size: 1em;
}
