.container_computo {
  min-height: 70vh;
  width: 98%;
}
.container_computo_minis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_computo_dash {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
